{% extends 'base.html' %}
{% block title %}Yenı Yazı{% endblock %}



{% block content %}
{% if user.is_authenticated %}
<h1>
<p style="color:gray;">Yazı Ekle...</p>
</h1> 
<br><br> 
<div class="mb-3">
    <table>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p  }}
        </table>
    <button class="btn btn-success">Post</button>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value =
         name;

</script>
{% else%}
Post eklemek için önce giriş yapmalısınız!
{% endif %}


{% endblock %}