{% extends 'base.html' %}
{% block title %} BloK! {% endblock %}

{% block content %}
{% if category_posts %}
<h1>
    <p style="color:gray;">{{cats}} </p>
</h1> 
<ul>
{% for post in category_posts %}
 <li><a href = "{% url 'detail' post.pk %}" class="btn btn-secondary"> ❝{{post.title}}❞</a>   {{post.author}}  ⧼{{post.post_date}}⧽ ➻  {% if user.is_authenticated %} 
    <a href="{% url 'Update' post.pk %}" class="btn btn-outline-secondary" >Edit Post</a> 
    <a href="{% url 'Delete' post.pk %}" class="btn btn-outline-danger"> Delete Post</a>
    {% endif %}
    <br/>
    {{post.body|slice:":200"}}</li>


{% endfor %} 
</ul>
{% else %}
<h2>Bu kategoride hiç yazı bulunmamaktadır.</h2>
{% endif %}

{% endblock %}
